html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

/* Street View */
#street-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none !important;
}

/* UI Overlay Container*/
#ui-elements {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
    pointer-events: none; /* allows clicks to pass through */
}

/* UI Elements Styling */
#ui-elements h1, #ui-elements h2, #ui-elements h3, #ui-elements p {
    position: relative;
    z-index: 1100;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.7);
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
}
/* Mini Map */
#map {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    left: auto !important;
    top: auto !important;
    z-index: 100000 !important;
    pointer-events: auto; /* allows interaction */

    width: 300px !important;
    height: 200px !important;
    
    border: 2px solid red;
    border-radius: 6px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
    
    transition: all 0.3s ease-in-out;
    background-color: #e0e0e0; 
    
    transition: width 0.15s, height 0.15s;
    overflow: hidden; 
}

#map:hover {
    width: 500px !important;
    height: 400px !important;
}

