html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

/* Street View */
#street-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none !important;
}

/* UI Overlay Container*/
#ui-elements {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000;
    pointer-events: none; /* allows clicks to pass through */
}

/* UI Elements Styling */
#ui-elements h1, #ui-elements h2, #ui-elements h3, #ui-elements p {
    position: relative;
    z-index: 1100;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.7);
    font-family:'Courier New', Courier, monospace;
    margin-left: 10px;
}

/* Mini Map */
#map {
    position: absolute; 
    bottom: 2px;
    right: 2px;
    z-index: 1000;

    width: 25%;
    height: 30%;
    
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    background-color: #e0e0e0; /* shouldn't be visible */
    transition: all 0.15s;
    overflow: hidden; /* keeps map inside the corners */
}

#map:hover {
    width: 50%;
    height: 60%;
}

/* index.html */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.center-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
.center-content p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
}

#start-button {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
    background-color: #0062ff;
    color: white;
}
#start-button:hover {
    background-color: #004ecc;
}
