#map {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;

    width: 30%;
    height: 30%;
    
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    background-color: #e0e0e0; /* shouldn't be visible */
    
    transition: width 0.15s, height 0.15s;
    overflow: hidden; /* keeps map inside the corners */
}

#map:hover {
    width: 50%;
    height: 60%;
}